/*#region reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*#endregion*/

.ticker-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.name-container {
  width: 2700px;
  height: 300px;
  position: relative;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-duration: 20s;
}

@keyframes slide {
  0% {
    left: 0;
  }

  10% {
    left: -300px;
  }

  20% {
    left: -600px;
  }

  30% {
    left: -900px;
  }

  40% {
    left: -1200px;
  }

  50% {
    left: -1500px;
  }

  60% {
    left: -1800px;
  }

  70% {
    left: -2100px;
  }

  80% {
    left: -2400px;
  }

  90% {
    left: 0;
  }

  100% {
    left: 0;
  }
}

.names {
  float: left;
  height: 300px;
  width: 300px;
}
#intro h1,
#geoffrey h1,
#sam h1,
#nicola h1,
#sean h1,
#steve h1,
#adrian h1,
#amandeep h1,
#neil h1,
#dawn h1 {
  text-align: center;
  margin-top: 25%;
}
