/*#region reset*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*#endregion*/

.ticker-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.name-container {
  width: 3900px;
  height: 300px;
  position: relative;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-duration: 24s;
}

@keyframes slide {
  0% {
    left: 0px;
  }
  8.33% {
    left: -300px;
  }

  16.66% {
    left: -600px;
  }

  24.99% {
    left: -900px;
  }

  33.32% {
    left: -1200px;
  }

  41.65% {
    left: -1500px;
  }

  49.98% {
    left: -1800px;
  }

  58.31% {
    left: -2100px;
  }

  66.64% {
    left: -2400px;
  }

  74.97% {
    left: -2700px;
  }

  83.33% {
    left: -3000px;
  }

  91.63% {
    left: -3300px;
  }

  100% {
    left: -3600px;
  }
}

.names {
  float: left;
  height: 300px;
  width: 300px;
}
#intro h1,
#geoffrey h1,
#sam h1,
#nicola h1,
#sean h1,
#steve h1,
#adrian h1,
#amandeep h1,
#neil h1,
#dawn h1,
#ben h1,
#belen h1,
#lindsey h1 {
  text-align: center;
  margin-top: 25%;
}

#intro p,
#geoffrey p,
#sam p,
#nicola p,
#sean p,
#steve p,
#adrian p,
#amandeep p,
#neil p,
#dawn p,
#ben p,
#belen p,
#lindsey p {
  text-align: center;
  margin-top: 10%;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}
